.container{
   display:flex;
   justify-content: space-between;
}

.block1{
    width: 100px;
    height: 100px;
    background-color: red;
}

.block2{
    width: 100px;
    height: 100px;
    background-color: blue;
}